
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">



        <div class="col-md-3 col-sm-3 ">
            <img src="~/img/Tajweed icon.jpg" class="img-fluid" />
        </div>
        <div class="col-md-3 col-sm-3">
            <img src="~/img/fili icon.jpg" class="img-fluid" />
        </div>
        <div class="col-md-3 col-sm-3">
            <img src="~/img/faseyhafila.jpg" class="img-fluid" />
        </div>
        <div class="col-md-3 col-sm-3">
            <img src="~/img/Akuru icon.jpg" class="img-fluid" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h4>
                Important Noice
            </h4>
        </div>
        <div class="col-md-6">
            <h4>
                Contact us
            </h4>
        </div>
    </div>
</div>

